:root{
    --main-color:#b92f6b;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: #fff;
    padding-left: 25rem;
}

.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
     flex: 1 1 30rem;
     margin-left: 3rem;
}

.education-column .title{
    font-size: 4rem;
    margin: 0 0 1.5rem 2rem;   
}

.education-column .education-box {
    border-left: .2rem solid #da1c84 ;
}

.education-box .education-content {
    position: relative;
    padding-left: 2rem;
}

.education-box .education-content::before
{
content: '';
position: absolute;
top: 0;
left: -1.1rem;
width: 2rem;
height: 2rem ;
background: #da1c84 ;
border-radius: 50%;
}
.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid #da1c84;
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;

}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(214, 13, 100, 0.514);
    z-index: -1;
    transition: .5s;
 }
 
 .education-content .content:hover::before {
   width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: #da1c84;
    padding-bottom: 4.rem;
}
.education-content .content .year i {
     padding-left: .4rem;  
}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content h4 {
    font-size: 1.7rem;
    color: rgb(218, 17, 148);
}

.education-content .content p {
    font-size: 1.3rem;
    padding: .5rem;
}